JAXWSHandlerService/src/main/webapp/WEB-INF/schema/practice/practice.xsd

<?xml version="1.0" ?>

<xsd:schema targetNamespace="http://schemas.myorg.com/person/phone"

            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>

    <xsd:complexType name="Phone">

        <xsd:sequence>

            <xsd:element name="areaCode" type="xsd:int"/>

            <xsd:element name="exchange" type="xsd:int"/>

            <xsd:element name="number" type="xsd:int"/>

        </xsd:sequence>

    </xsd:complexType>

</xsd:schema>