CredentialInfoService/src/main/webapp/WEB-INF/2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://business.credentialservice.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="NotificationSenderService" targetNamespace="http://business.credentialservice.com/"
>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://business.credentialservice.com/"
                    targetNamespace="http://business.credentialservice.com/">
            <xsd:complexType name="sendEmail">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="notificationRequest" type="ns0:NotificationRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sendEmailResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="outputMessage" type="ns0:NotificationResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Credentials">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="accountId" type="xsd:string"/>
                    <xsd:element name="account" type="xsd:string"/>
                    <xsd:element name="userId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="passwordType" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="url" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NotificationRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="emailAddress" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="credential" type="ns0:Credentials"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NotificationResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sendEmail" type="ns0:sendEmail"/>
            <xsd:element name="sendEmailResponse" type="ns0:sendEmailResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendEmail">
        <wsdl:part element="tns:sendEmail" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="sendEmailResponse">
        <wsdl:part element="tns:sendEmailResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="NotificationServicePortType">
        <wsdl:operation name="sendEmail">
            <wsdl:input message="tns:sendEmail" name="sendEmail"/>
            <wsdl:output message="tns:sendEmailResponse" name="sendEmailResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NotificationSenderServiceSoapBinding" type="tns:NotificationServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendEmail">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NotificationSenderService">
        <wsdl:port binding="tns:NotificationSenderServiceSoapBinding" name="NotificationServicePortTypePort">
            <soap:address location="http://localhost:7001/CredentialInfoService/services/notificationService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>